.custom-navbar {
  background-color: red;
  transition: background-color 0.3s ease;
  padding: 1.5rem 2rem;
}

.custom-navbar .nav-link, .custom-navbar .navbar-brand {
  color: white;
  font-weight: 500;
}